@charset "utf-8";




    


*{
    margin: 0px;
    list-style: none;
    text-decoration: none;
    height: auto;

}

.tudo{
    background-color: black;
    width:100%;
}
.cabecalho{

    


    height: 50px;
    width: 100%;
    background-color: rgba(12, 25, 54, 0.726);
}
 /* Sobre mim */
 #Container_sobre
 {
     width: 100%;
     background-color: rgb(21, 22, 22);
     display: flex;
     justify-content: center;
     justify-items: center;
     margin: 100px 0px;
     height: 400px;

 }
 .MinhaFoto{

width: 200px;
     height: 200px;
     border-radius: 1000px;
 }
#sobre
{
 display: flex;
 flex-wrap: wrap;
justify-items: center; 
}
 .sessoes{
   width: 80%;
   flex-wrap:wrap ;
     background-color: rgb(56, 56, 56);
     margin: 5px auto;
     padding: 5px;
 }

nav{
   text-align: center;
   padding-top: 10px;
}
nav a{  
   
    font-size: 22px;

    color: rgb(211, 211, 211);
    text-decoration: none;
    font-weight: 900;
    margin: 0px 2px;
    padding: 5px;
}
nav a:hover{  
padding: 5px;
    background-color: rgba(238, 238, 238, 0.123);
    border-radius: 2px;

}
/* Top 5 series */


footer{
    
    text-align: center;
    clear: both;
    height: 20px;
    background-color: rgb(212, 212, 212);
  }
footer a{
    cursor: pointer;
    float: right;
    background-color: rgb(24, 24, 36);
    padding: 3px 20px;
    margin-top:-20px ;
    
color: rgb(240, 240, 240);
}
.Container_catalogo {
    background-color: rgb(0, 0, 0);
    height: auto;
    width: 100%;
  
  
}
.Container_catalogo h2 {
    color: aliceblue;
    text-align: center;
    background-color: rgba(34, 38, 37, 0.412);
  
  width: 100%;
}
.Container_catalogo img {
    display: flex;
   justify-content: center;
    height: auto;
    width: 100%;

  
}
.catalogo1,.catalogo2{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    height:auto;
    justify-content: center;

}
.catalogo1 img,.catalogo2 img{
    width:160px;
    height: 250px;
    margin: 3px;
}

.Top1 p{
    background-color: rgb(54, 56, 58);
    color: rgb(29, 19, 19);
    text-align: center;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 900;
    margin: 10px;

    
}
.Top1 p:hover{
    color: rgb(192, 192, 192);
 
}


h2{
    margin: 12px;
    background-color: rgb(6, 8, 10);
    color: white;
    text-align: center;
    width: 100%;
}
.Top1{
   
  
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    height: auto;
    
}
   


 .Top img{
     margin: 1px;
    height: 300px;
    width: 200PX;
  
} 


/* painel principal */
.PainelPrincipal{
   
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
width:100% ;
height: auto;
background-color: rgb(23, 29, 29);
}
.PainelPrincipal h2 {
    /* display: flex
    
    ;
    flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center; */
width:100% ;
height: 10px;
background-color: rgb(223, 224, 224);
}
.PainelVideo{
display: grid;
grid-template-columns: repeat(1,1fr);
justify-items: center;


background-color: rgb(30, 37, 43);

}
.PainelVideo iframe{

    border: 1px solid;
    margin: 20px auto;
   width: 700px;
    height:400px;
}

.PainelPrincipal h3{

    text-align: center;
width:100% ;
background-color: rgb(44, 53, 53);
}


.PainelPrincipal img{
    max-width: 150px;
    margin: 10px;
    height: 300px;
    
    cursor: pointer;
    transition: all 0.1s ease-in-out;


}
.PainelPrincipal img:hover{
    border-radius: 30px;
 


}



@media  screen and (max-width:800px) {
    *{
        margin: 0px auto;
        list-style: none;
        text-decoration: none;
        height: auto;
    
    }
    
    .tudo{
        background-color: rgb(29, 20, 20);
       max-width:1000px ; 
    }
    /* Sobre mim */
    #Container_sobre
    {
        width: 100%;
        background-color: rgb(21, 22, 22);

    }
    .MinhaFoto{
        display: grid;
        grid-column: auto;
        width: 200px;
        height: 200px;
        border-radius: 1000px;
    }
   #sobre
   {
    display: flex;
    flex-wrap: wrap;
justify-items: center; 
   }
    .sessoes{
      width: 60%;
      flex-wrap:wrap ;
        background-color: rgb(56, 56, 56);
        margin: 5px auto;
        padding: 5px;
    }

    .cabecalho{
    
        
    
    margin: auto;
        height: 50px;
        width: 500px;
        background-color: rgba(12, 25, 54, 0.726);
    }
    nav{
       text-align: center;
       padding-top: 10px;
    }
    nav a{  
       
        font-size: 22px;
    
        color: rgb(211, 211, 211);
        text-decoration: none;
        font-weight: 900;
        margin: 0px 2px;
        padding: 5px;
    }
    nav a:hover{  
    padding: 5px;
        background-color: rgba(238, 238, 238, 0.123);
        border-radius: 2px;
    
    }
    /* Top 5 series */
    
    footer{
    
        text-align: center;
        clear: both;
        height: 20px;
        background-color: rgb(212, 212, 212);
      }
    footer a{
        cursor: pointer;
        float: right;
        background-color: rgb(24, 24, 36);
        padding: 3px 20px;
        margin-top:-20px ;
        
    color: rgb(240, 240, 240);
    }
    /* .Container_catalogo {
        float: left;
        background-color: rgb(211, 211, 211);
        height: auto;
        width: 100%;
justify-items: center;      
      
    } */
    .Container_catalogo h2 {
        color: aliceblue;
        text-align: center;
        background-color: rgba(34, 38, 37, 0.412);
      
      width: 100%;
    }
    
    .catalogo1,.catalogo2{
        background-color: rgb(15, 15, 15);
        width: 100%;
        height: auto;
      
    }
    .catalogo1 img,.catalogo2 img{
        width:140px;
        height: 250px;
        margin: 3px;
    }
    
    .Top1 p{
        color: rgb(88, 88, 88);
        text-align: center;
        padding-bottom: 10px;
        font-size: 17px;
        
    }
    .Top1 p:hover{
        color: rgb(192, 192, 192);
     
    }
    
    
    h2{
        margin: 12px;
        background-color: rgb(6, 8, 10);
        color: rgb(138, 75, 75);
        text-align: center;
        width: 100%;
    }
    .Top1{
       
      
        
        display: grid;
        grid-template-columns: repeat(3,1fr);
        
        height: auto;
    }
       
    
    
     .Top img,.Top img{
        height: 200px;
        width: 150PX;
        margin-left: 5px;
      
    } 
    
    
    /* painel principal */
    .PainelPrincipal{
   
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
width:100% ;
height: auto;
background-color: rgb(23, 29, 29);
}
    .PainelPrincipal h2 {
        
    width:100% ;
    height: 10px;
    background-color: rgb(223, 224, 224);
    }
    .PainelVideo{
        

    width: 100%;
    height: auto;
    margin-bottom: 30px;
    
    
    background-color: rgb(30, 37, 43);
    
    }
    .PainelVideo iframe{
    display: none;
    }
    
    .PainelPrincipal h3{
    
        text-align: center;
    width:100% ;
    background-color: rgb(44, 53, 53);
    }
    #Painel_h2{
    width: 100%;
    }
    
    .PainelPrincipal img{
        width: 100px;
        height: 200px;
        
    
    }
    
    
    
}